<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="/css/resultMark.css">

<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">


<link rel="stylesheet" href="css/owl-carousel.css">
    <title>Quize Mark </title>
  </head>
  <body>
    
    

    <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!---->
                      <a href="wiseQuiz.ejs" class="logo">
                          <img src="img/logo.png" width="70px" height="70px">
                      </a>
  
                      <!-- logo end -->
  
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="wiseQuiz.ejs">Home</a></li>
                          <li class="scroll-to-section"><a href="wiseQuiz.ejs.#Courses">Courses</a></li>
                          <li class="scroll-to-section"><a href="userLogin.ejs">SingUp</a>
                          <li class="scroll-to-section"><a href="wiseQuiz.ejs.#Contact">Contact</a>
  
                          </li>
                          <li class="submenu">
                              <a href="javascript:">Quiz></a>
                              <ul>
                                  <li><a href="computerNetworkSystem.html">Computer Network System</a></li>
                                  <li><a href="computerScience.html">Computer Science</a></li>
                                  <li><a href="softwareEngineer.ejs">Software Engineering</a></li>
                                  <li><a href="networkSecurite.html">Network Securite</a></li>
                              </ul>
                          </li>
                          <li class="scroll-to-section"><a href="wise quiz.html.#Contact">Contact Us</a></li>
                      </ul>
                      <!-- <button type="submit" id="form-submit" class="login-button">login</button>-->
  
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                  </nav>
              </div>
          </div>
  
      </div>
  
  
  </header>
  
  
  <!-- END NAV BAR -->








    <div class="center">
    <div class="card custumCard" style="width: 23rem;">
      <div class="card-body">
        <h5 class="card-title">Congratulations 🎉</h5>
        <p class="card-text">you are get mark 12 from 20

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Questions answered : 12</li>
        <li class="list-group-item">Unanswered questions : 2</li>
        <li class="list-group-item">The wrong questions : 6</li>
      </ul>
      <div class="card-body">
        <a href="#" class="btn btn-success ">back to Quizs page</a>
        
      </div>
    </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    
