<%- include('adminPageHeader') -%>


<div class="header">
  <h2>students Grads  </h2>
  </div>

<br>
<br>
<main>
  <table>
    <thead>
      <tr>
        <th>
          students
        </th>
        <th>
         Grads
        </th>
        <th>
          Courses Name
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
          15
        </td>
        <td class='select'>
          software engineering
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
         12
        </td>
        <td class='select'>
          computer Sciences
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
          19
        </td>
        <td class='select'>
          computer network
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
         5
        </td>
        <td class='select'>
          computer Sciences
        </td>
      </tr>
    </tbody>
  </table>
  
       
    </div>
  </div>
</main> 
 <!-- /////////////////// End Add ///////////  -->
 <!-- /////////////////      End table////////////////////////// -->







<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script  src="function.js"></script> -->
 
</body>
</html>