<%- include('adminPageHeader') -%>


<div class="header">
  <h2> feedBack  Messages  </h2>
  </div>

<br>
<br>
<main class="messagesTable">
  <table>
    <thead>
      <tr>
        <th>
          name
        </th>
        <th>
         email
        </th>
        <th>
          feedBack  Message
        </th>
      </tr>
    </thead>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
    <tbody >
      <tr>
        <td  data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
          email
        </td>
        <td class='select'>
          Message
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
          email
        </td>
        <td class='select'>
          Message
        </td>
      </tr>
      <tr>
        <td data-title='Provider Name'>
          user Name
        </td>
        <td data-title='E-mail'>
          email
        </td>
        <td class='select'>
          Message
        </td>
      </tr>
    </tbody>
  </table>
  
       
    </div>
  </div>
</main> 
 <!-- /////////////////// End Add ///////////  -->
 <!-- /////////////////      End table////////////////////////// -->







<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<!-- <script  src="function.js"></script> -->
 
</body>
</html>