<!Doctype html>
<html>
<head>

    <meta charset="utf-8">
    <title>Admin Login </title>
    <meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
        <!-- ***************  link logo  **********-->

    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png">
    <!-- *************** css link  **********-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/homepage.css">
    <link rel="stylesheet" href="css/login-admin.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="css/owl-carousel.css">
    <link rel="stylesheet" href="style.css" />



</head>

<body>
    <!-- ***** Header Starts ***** -->


<header class="header-area header-sticky">
                <div  class="container">
                    <div class="row">
                        <div class="col-12">
                        <nav class="main-nav">
                            <!--  logo Start-->
                            <a href="index.html" class="logo">
                                <img src="img/logo.png" width="70px" height="70px">
                            </a>
                    
                                 <!-- logo end -->
                              
                                <ul class="nav">
                                    <li class="scroll-to-section"><a href="#welcome" class="menu-item">Home</a></li>
                                    <li class="scroll-to-section"><a href="#Courses " class="menu-item">Coureses</a></li>
                                    <li class="scroll-to-section"><a href="userLogin.ejs">SingUp</a>
                                    <li class="scroll-to-section"><a href="#Contact.html"  >Contact</a>

                                    </li>
                                    <li class="submenu">
                                        <a href="javascript:;">Quiz</a>
                                        <ul>
                                            <li><a href="computerNetworkSystem.html" >Computer Network System</a></li>
                                            <li><a href="computerScience.html" >Computer Science</a></li>
                                            <li><a href="softwareEngineer.ejs" >Software Engineering</a></li>
                                            <li><a href="networkSecurite.html" >Network Securite</a></li>
                                        </ul>
                                    </li>
                                    <li class="scroll-to-section"><a href="#Contact" class="menu-item">Contact Us</a></li>
                                </ul> 

                                <a class='menu-trigger'>
                                    <span>Menu</span>
                                </a>
                                      </nav>
                            </div>
                        </div>
                      
            </div>
            
            
         </header>
         <!-- ***** header End ***** -->

        
         
<!-- ***** Section-1 Starts ***** -->

    <div class="Download-app" id="Download" >
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="left-text col-lg-6 col-md-12 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"> 
                    <h1>Best app for you</h1>
                           <p>
                              Lorem ipsum dolor sit amet consectetur adipisicing elit. <em>Wise Qize</em>
                           </p> 
                           <a href="ad" class="main-button">Download-app</a>

                    </div>
                </div>
            </div>
        </div>
       
        </div>
    
    </div>

         <br><br><br>

         <!-- ***** Section-1 End ***** -->

         <!-- ***** Section-2 Starts ***** -->

          <!-- ##########  Quiz ###########-->
          <section class="section" id="Courses">
            <div class="container">
                  <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <div class="center-heading">
                            <h2>Courses</h2>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-1">                        
                              <img  src="img/22.jpg">
                         <h4>Computer Science</h4>

                           <p>

                           </p>
                           <a href="ad" class="main-button">Go to Quiz</a>

                      </div></div></div>

                      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                      data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                             <div class="features-item">
                             <div class="features-2">                       
                                    <img  src="img/44.jpg">
                                   <h4>Software Engineering</h4>
                                 <p>
                                      
                                     </p>
                                     <a href="ad" class="main-button">Go to Quiz</a>
                     </div> </div></div>
                     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                     data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                     <div class="features-item">
                         <div class="features-3">        
                        <img  src="img/66.jpg">
                        <h4>Network Securite</h4>

                          <p>

                           
                          </p>
                          <a href="" class="main-button">Go to Quiz</a>

                     </div></div></div>
                     <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"
                     data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                     <div class="features-item">
                         <div class="features-4">  
                        <img  src="img/33.jpg">
                        <h4>Computer Network System</h4>

                          <p>
                              
                          </p>
                          <a href="ad" class="main-button">Go to Quiz</a>

                     </div>
                  </div>
              </div> </div></div>



          
</section>
<!-- ***** Section-2 End ***** -->


<!-- ------------------------------- --->


<!-- ***** Section-3 Starts ***** -->
<section class="section" id="Contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="center-heading">
                    <h2>Contact Us</h2>
                    <p>Lorem Lorem Lorem l Lorem Lorem Lorem lLor Lorem lLorem Lorem Lorem lLorem Lorem Lorem lLorem Lorem Lorem l</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="contact-form">
                    <form id="contact" action="" method="post">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Full Name" required=""
                                        style="background-color: rgba(250,250,250,0.3);">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <fieldset>
                                    <input name="email" type="text" id="email" placeholder="E-Mail Address"
                                        required="" style="background-color: rgba(250,250,250,0.3);">
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <textarea name="message" rows="6" id="message" placeholder="Your Message"
                                        required="" style="background-color: rgba(250,250,250,0.3);"></textarea>
                                </fieldset>
                            </div>
                            <div class="col-lg-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="main-button">Send Message
                                        Now</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Section-3 End ***** -->

<br>
<br>

<br>
<br>

   <!-- ***** Footer Start ***** -->

<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">

                    <h3>Services</h3>
                    <ul>
                      <li><a href="wise quiz.html.#Courses">Courses</a></li>
                      <li><a href="#">Quiz page</a></li>
                      <li><a href="wise quiz.html.#Contact">Contact Us</a></li>
                  </ul>
                    
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
  
                      <li><a href="wise quiz.html">Web WISE Quiz </a></li>
                      <li><a href="wise quiz.html">App WISE Quiz</a></li>
                      <li><a href="#">Login In</a></li>
                  </ul>
            
                </div>
                <div class="col-md-6 item text">
                    <h3>Company Name</h3>
                    <p>Wise Quiz app and website</p>
                </div>
                   
                <div class="social-media">
                    <ul>
                       <a href="wise quiz.html" ><li><img title="WISE quiz " src="img/logo.png" alt="images WISE QUIZ"></li></a>
                       <a href=""> <li><img title="Twitter" src="img/twitter.png" alt="images Twitter"></li> </a>
                        <a href=""> <li><img title="Google" src="img/google.png" alt="images Google"></li></a>
                        <a href=""> <li><img title="facebook" src="img/facebook.png" alt="images facebook"></li></a>
    
                    </ul>
                </div>
        </div>
    </footer>
    <!-- ***** Footer End ***** -->


  



    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="js/custom.js"></script>

</body>
</html>