:root{

    --color-mine:#5b6f51;
}

*{
    font-family: 'Poopins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.slidebar
{
    width: 280px;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-mine);
    color: #fff;
}


.slidebar-brand{
    height: 70px;
}

.brand-icon span
{
font-size: 1.5rem;
margin-left: .5rem;


}
.brand-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.slidebar-user{
    margin:0rem 0rem 1rem 0rem;
    text-align: center;
}

.slidebar-user img{
    width: 110px;
    height: 110px;
    border-radius:50%;
    border-top: 2px solid #efefef;
    border-radius: 2px solid #efefef;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #efefef;
    position: center;


}
.slidebar-user h3{
font-size: 1rem ;
}
.slidebar-user span{
    font-size: .85rem;
}


.slidebar-menu{
    margin-top: 3rem;
}
.menu-head{
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .8rem;
}
.slidebar-menu ul{
    margin-bottom: .8rem;
}
.slidebar-menu li a{
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
    text-decoration: none;



}

.slidebar-menu li a:hover{
    color: #efefef;
    font-size: .9.5rem;
    text-decoration:underline #c1cabd 2px;   
 
    
    };



}
.slidebar-menu li a span{
    font-size: .95rem;
    display: inline-block;
    margin-right: .8rem;


}


.slidebar-menu li{
    margin-bottom: .9rem;

}

.main-content
{
    margin-left: 280px;

}

header {
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.menu-toggle label{
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    display: grid;
    place-items:center;
    border-radius: 50%;
}

.menu-toggle label:hover{
    background: #efefef;
    height: 60px;
    width: 60px;
}





.header-icon span{
    display:inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;

}

main{
    padding: 1.5rem ;
    background: #d5e7cc;
    min-height: calc(100vh - 70px);

}
.page-header{
    display: flex;
    justify-content:space-between;
}

.header-actions button{
    outline: none;
    color: #fff;
    background: #5850ec;
    border: none;
    padding: .6rem 1rem;
    margin-left: 1rem;
    border: none;
    border-radius: 3px;
    font-weight: 600;
}

.header-actions button span{
  font-size: 1.2rem;
  margin-right: .6rem;

}


/*--------------
card
--------------------*/
.cards{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-gap: 8rem;
    margin-top: 2rem;
}
.card-single{
    background: #fff;
    padding: 1rem;
    margin-top: 6px;
    box-shadow: 4px 4px 10px rgba(0,0, 0, 0.1);
}
.card-flex{
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;

}

.card-head span{
    display: block;
    text-transform: uppercase;
    color: #555;
    font-size: .9rem;

}
.card-head small{
    font-weight: 600;
    color: #555;
}
.card-info h2{
    font-size:2.2rem ;  
    color: #333;
}
.card-chert span{
    color: indianred;
    font-size: 3rem
    
}

@media only screen and (max-width: 1124){

    .slidebar{
        left: -100%;
        z-index: 30;
    }
    .main-content{
        margin-left:0 ;
    }
    header{
        margin-left: 0;
        width: 100%;
    }
    #sideba-toggle:checked ~ .slidebar{
        left: 0;
    }
}








/*---------------------------
---------------------------------*/
.btn-button{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  appearance: none;
  color:#efefef;
  border-radius: 4px;
  background-color: #37474f;

  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(25, 0, 255, 0.5);;
  
}

.btn-button:hover{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  appearance: none;
  
  background-color: #37474f;
  color:#efefef;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(25, 0, 255, 0.5);
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover,
 .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, 
 .open>.dropdown-toggle.btn-info.focus,
 .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover{

  color: #fff;
  background-color:#37474f;
  border-radius: 4px;
  border: none;
  border-color:#6495ED ;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(25, 0, 255, 0.5);
}

/* ----------------- */
.modal-header
.logo{
  justify-content: center;
  align-items: center;
  position: relative;

  margin-left:17rem;
}